@charset "UTF-8"; 
@import 'reset.scss';


$bgColor : #efefef;


#header {
    width: 100%;
    
    background: #efefef;
    border: 2px solid black;

    .inner {
        width: 1180px;
        margin:0 auto;
        border:1px solid black;
        position: relative;
        overflow: hidden;

        .headerTop{
            .menutopleft {
                float: left;
                font-size: 30px;                 
                color: black;               
            }
            .btnCall{
                float:right; 
                 
                    position: relative;
                    display:block;
                    width:30px;
                    height:30px;
                    top:5px;
                    right:5px;
                    float:right;
                    border: 2px solid lemonchiffon;
                    
                   
    
                    &::before{
                        content:'';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: top 0.5s 0s, transform 0.5s 0.5s;
                    }
    
                     &::after{ 
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: bottom 0.5s 0s, transform 0.5s 0.5s;
                        }
    
                    span{
                        display:block;
                        width: 100%; height:2px;
                        background: #000;
                        position: absolute;
                        top:50%; 
                        left:0; margin-top: -1px;
                        text-indent: -9999px;
                        transition: all 0.5s;
                        }
                       
                        &.on{
    
                            &::before{ top:calc(50% - 1px);
                                 /*원래 문법=> top:50% ,-1px*/
                                 transform: rotate(45deg);
                            }
                            &::after{bottom:50%; margin-bottom:-1px;
                                transform: rotate(-45deg);
                             }
                             span{
                             transform:translateX(100%);
                                 opacity: 0;
                            
                            }
                        }
                        
                      
            }

            &::after{
                content:''; display:block; clear:both; 
            }
        }
        .headerBottom{
            .leftmenu{
                width:280px;
                height:70px;
                top:0;
                left:0;
                padding:20px;
                background: lightcyan;
                float:left;
                
                h1{
                    font: bold 30px/1 'arial';
                    color:rgb(215, 63, 63);
                    float: left;
                }
                    
                a{
                    font: bold 30px/1 'arial';
                    color:rgb(215, 63, 63);
                    float:left;
                    }
            }

            .midMenu{
                width:520px;
                height:70px;
                background: lightgreen;
                text-align: center;
                padding:20px;
                padding-top:25px;
                float: left;

            li{ 
                font: bold 15px/1 'arial';
                color:red;
                float:left;
                padding-right:20px;
            }
            a{
                font: bold 15px/1 'arial';
                color:red;
            }
        }

            .rightMenu{
                width: 374px;
                height: 70px;
                background: lightseagreen;
                padding-top:15px;
                float: left;
                
                h2{ font:bold 25px/1 'arial';
                    color:rgb(215, 63, 63);
                    float: left;
                    padding-top:5px;
                    padding-left: 5px;
                }

                .tray i{
                    float: left;
                    font-size:x-large;
                    color:rgb(215, 63, 63);
                    padding-left:5px;
                    padding-top:5px;
                    }
            }
        }
    }
 }
 
#visual {
    width:100%;
    background: #e0e0;
    
    .inner{
        width:1180px;
        margin:0 auto;
        position: relative;
        overflow: hidden;

        img{
            width:100%;
            height: 85vh;
            object-fit: cover;
        }
        .treetop{
            width:100%;
            top:30%;
            left:40%;
            width:100%;
            position: absolute;
        
            strong {
                font:normal 70px/1 'arial';
                float:left;
                color:white;
            
            }
            li{ font:bold 15px/1 'arial';
                color:white;
                
                float: left;
            }
            h2{ font: bold 20px/1 'arial';
                color:white;
                padding-top: 25px;
                padding-right: 5px;
                padding-left: 5px;
                float: left;
                text-decoration: underline;
            }
          
            
        }
        .treeBot{                       
            position: absolute;
            top:42%;
            left:340px;

         

            h1{ 
                font:bold 75px/1 'arial';
                color: white;
            }
            h2{text-align: center;
                color: white;
            }
            a{ color:white;}

        }
        .buyButton{ 
            position: absolute;
            width:150px;
            top:80%;
            left:46%;
            border: 2px solid white;
            text-align: center;
            opacity: 1.2;

            a{  
                font:bold 10 'arial';
                color: white;
            }
        }
    } 
}

#product{
    width: 100%;//이건 잘함 

    .inner{
        width:1180px; //요것도 잘함
        margin: 0 auto;

        .wrap {
            width:100%; //요것도 잘함
            text-align: center;
            background: #efefef;
            padding-left: 20px;

            &::after{ //요것도 잘함
                content:''; display: block; clear:both;
            }

            article {
                width:380px;
                float:left;
                background:#efefef;

                li{font: normal 20px 'arial';
                    text-align: center;
                    margin-top: 15px;
                    padding:0.1px;
                    
                }

                .pic{
                    width: 100%;
                    height:100%;
                    object-fit: cover;
                }
                
                img{
                    width:100%;
                    height:400px;
                    padding:10px;
                    margin-top:15px;
                    border-radius: 20%;
                }
            }

        }
    }
}

#intro { //여기 지적 많이 하심
        width: 100%;
        background: #efefef;

        .inner{
            width:1180px;
            margin: 0 auto;

            .wrap{
                width:100%;
                padding: 30px;// 보기 좋게 하기 위해 
                /*height:330px;
                // 높이 설정을 굳이 해줄 필요 없음*/
                
                /*background: #efefef; //
                위 .inner에서 했으니 중복 선언임 필요없음
                
                */
                /*float: left;// 플로트는 아티클의 제일 첫번째 콘텐츠에만 넣을것 나머지가 따라오는 요소기에 그럼*/

                 &::after{
                content:''; display: block; clear:both; } //요건 잘함

                article:nth-child(1){
                    width: 560px;
                    height: 350px; //높이를 콘텐츠들에 맞춰 지정할거면 맨앞에서 부터 해야함 요 article의 경우 뒤에 사진이 컸음 그래서 두번째 사진 기준으로 높이를 잡음
                    background: white;
                    float: left;
                    border: 1px solid black;
                    padding: 30px;
                    object-fit: cover;
    
                    h1{
                        font: bold 25px/1 'arial';
                        text-align: center; // 요건 잘함

                        /*width: 100%;*/ 
                        //h1은 굳이 100%잡아줄 필요가 없다고 하셨었음

                        /*margin:10px;// 불필요하다고 하셨었음*/
                       
                        /*float: left;//두번째 아티클 자식요소에는 플로트 잡아줄 필요없음*/

                        //**새로운 사실을 배움**
                        &::after{
                            content:'-'; //가상선택자를 활용하여 표시도 가능함
                            display: block; //블럭요소 설정 필요하다고 하심
                            text-align: center;
                            margin-top:10px;
                            margin-bottom: 30px;
                        }
                    }
                    p{  text-align: center; 
                        //요건 잘함
                        
                        /*width: 100%;*///요것도 동일 굳이 100% 잡아줄 필요가 없다고 하심
                        
                    }
                }
                /*.pic{
                    width:280px;
                    height: 100%;
                }*/ // 이건 필요없다고 하심 굳이 두번 선언 필요가 없다고 하셨던거 같음

                article:nth-child(2){
                    width:280px;
                    height:350px; //요기는 사이즈 만큼 잡아보자고 하심 아마도 사이즈가 적용되지 않아서 잡히지 않을거라고 하심
                    float: left;
                    overflow: hidden;

                    
                    img{
                        width:100%;
                        height:100%;
                        /*float: left;*/ //자식요소 X 첫번째 아티클에만
                        object-fit: cover;
                    }
                    
                }
                article:nth-child(3){
                    width:280px;
                    height: 350px; /* 원래 내가 한 문법 height:100%; 사이즈만큼 잡아줘야함*/
                    float: left;
                    overflow: hidden;

                    img{
                        width:100%;
                        height: 100%;
                        /*float: left;*/ //자식요소 X 첫번째 아티클에만
                        object-fit: cover;
                    }
                 
                   
                 }
                 article:nth-child(4){
                    width:560px;
                    height: 350px;/*원래 내가 한  문법 height: 100%; 아티클에 맞는  사이즈만큼 잡아줘야함*/
                    float:left; //여기는 두번째 아티클 묶음 시작이기에 left를 부여함
                    overflow: hidden;
    
                    img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        object-position:0% 40%;
                        }
                }
                article:nth-child(5){
                    width:560px;
                    height: 350px; //높이는 화면을 보면서 맞춰간다 지금은 350px
                    float:left;
                    overflow: hidden;
                    text-align: center;
                    background: #efefef;
                    padding: 30px;// 요건 원래 없었음 보완해가야할 점 보기좋게 만들기 위함
    
                    h1{ 
                        padding-bottom: 30px;
                        font:bold 60px/1.2 'arial';
    
                        /*width: 100%;
                        margin:10px;*/ //요것도 굳이 자식속성이기에 해줄 필요가 없음
                        
                    }   
    
                    a{  display: block;
                        //a태그는 block요소를 적용해주는것이 좋다 내가 원래 적용을 안했음
                     
                        width:100%;
                        font: bold 30px/1 'arial';
                        color:black;
                        background: lightgray;
                        border:2px solid black;
    
                    }
                }

        }        
    }           

}
#slogun{ 
        width: 100%;
        background: #efefef;

        .inner{
            width: 1180px;
            margin: 0 auto;

        .wrap{
            width: 100%;
            padding:30px;

             &::after{content:''; display: block; clear:both; }
             
            article:nth-child(1){
                width: 560px;
                height: 350px;
                float: left;
                background: white;
                border: 1px solid black;
                text-align: left;
                padding: 30px;

                h1{
                    font: 50px/1.3 'arial' ;

                }
                .line{
                    width: 170px;
                    height: 4px;
                    margin-top:15px;
                    border-top:7px solid black ;
                }
                &::after{
                    content:'';
                    display: block;
                    width: 85px;
                    height: 7px;
                    background: #000;
                    margin-top: 20px;
                }
                
                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    border: 2px;
                    font-size: 3px solid;
                    background: black;
                }
            }
            article:nth-child(2){
                width: 560px;
                height: 350px;
                float: left;
                background: white;
                border: 1px solid black;
                text-align: left;
                padding:30px;

                p{
                    font:normal 15px/1.5 'arial'
                }
            }

            }
        }


}