@charset "UTF-8"; 
@import 'reset.css'; 
 /*scss watcher 구동문 
 sass --watch scss/style.scss:css/style.css 
 
 */
 /*#headerTop{
    width: 100%;
    background:gainsboro;
    border-bottom: 1px solid black ;
}*/
/*header------------*/


#header {
    width:100%;
}
#header .inner {
    width:1180px;
    height:60px;
    margin: 0 auto;
    background: gainsboro;
    position: relative;
}

#header .inner h1 {
    font:bold 20px/1 'arial';
    color: lightcoral;
    position: absolute;
    left:0;
    top:20px;
}
#header .inner h2 {
    font:bold 20px/1 'arial';
    color: lightcoral;
    display: block;
    position: absolute;
    right:0;
    top:20px;
}
#header .inner .menuRight {
    float: left;
    
}

#header .inner .menuRight h2 a{
    font:bold 20px/1 'arial';
    color: lightcoral;
    display: block;
}
#header .inner .menuRight li i{
    display: block;
    right:0;
    top:20px;
    position: absolute;
}

#header .inner h1 a{
    font:bold 20px/1 'arial';
    color:lightcoral;
}


#header .inner #menuTop {
    position: absolute;
    left: 160px;
    
}
#header .inner #menuTop li{
    float: left;
}

#header .inner #menuTop li a{
    font: bold 12px/1 'arial';
    display: block;
    color:#999;
    padding: 20px;
    margin-top:6px;

}

/*visual------------*/

#visual .inner img{
    width: 1180px;
    height: 840px;

}
#visual .inner h1{
    font: bold 50px/1 white 'arial';
    display: block;
    
}





/*
section{
    width:100%; 
    padding:150px 0; 
    background:#efefef; 
}

section .inner{
    width:1180px; 
    margin:0 auto; 
}

section .inner h1{
    font:bold 22px/1 'arial'; 
    color:#555; 
    text-align:center; 
    margin-bottom:50px; 
}

section .inner .wrap::after{
    content:''; 
    display:block; 
    clear:both; 
}

section .inner .wrap article{
    width:280px; 
    height:150px; 
    margin-right:20px; 
    background:skyblue; 
    float:left; 
    opacity:0; 
    transform:translateY(100px); 
    transition:all 1s; 
}
section .inner .wrap article:last-child{
    margin-right:0; 
}

section:hover .inner .wrap article{
    opacity:1; 
    transform:translateY(0px); 
    background:pink; 
}

section .inner .wrap article:nth-of-type(1){
    transition-delay:0s; 
}
section .inner .wrap article:nth-of-type(2){
    transition-delay:0.3s; 
}
section .inner .wrap article:nth-of-type(3){
    transition-delay:0.6s; 
}
section .inner .wrap article:nth-of-type(4){
    transition-delay:0.9s; 
}
*/